<div *ngIf="loading" class="row d-flex justify-content-center align-items-center">
  <div class="col-12 text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<p *ngIf="!loading && !userLoginOn">Usuario No Autenticado</p>
<p *ngIf="!loading && userLoginOn">Usuario Autenticado</p>

<div class="form-floating mb-3" *ngIf="userLoginOn">
  <ng-container *ngIf="(userData | async) as user; else loading">
    <p>Nombre: {{ user.username }}</p>
    <p>Email: {{ user.useremail }}</p>
  </ng-container>
  <ng-template #loading>Cargando...</ng-template>
</div>


<section  *ngIf="!userLoginOn">
  <div #cardContainer class="main-container">
      <div class="card-container">
          <div class="card">
              <div class="card-body">
                  <div class="card-images">
                      <img src="./assets/f1.jpg" alt="" class="card-bg">
                      <img src="./assets/p1.png" alt="" class="card-figure glass-bg-01">
                  </div>
                  <div class="card-info">
                      <h2 class="card-name">Registrate Aquí</h2>
                      <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                      <div class="card-media">
                          <p-button label="Registrar" routerLink="/register" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                          <a href="#"></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <div class="card-images">
                      <img src="./assets/f2.png" alt="" class="card-bg">
                      <img src="./assets/p2.png" alt="" class="card-figure glass-bg-02">
                  </div>
                  <div class="card-info">
                      <h2 class="card-name">Ingrese</h2>
                      <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                      <div class="card-media">
                          <p-button label="Iniciar Sesión" routerLink="/login" icon="pi pi-user" [rounded]="true" severity="info"></p-button>
                          <a href="#"></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <div class="card-images">
                      <img src="./assets/f3.png" alt="" class="card-bg">
                      <img src="./assets/p3.png" alt="" class="card-figure glass-bg-03">
                  </div>
                  <div class="card-info">
                      <h2 class="card-name">Consultar Afiliación</h2>
                      <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                      <div class="card-media">
                          <p-button label="Consultar" icon="pi pi-search" [rounded]="true" severity="info"></p-button>
                          <a href="#"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section *ngIf="userLoginOn">
    <div #cardContainer class="main-container">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f4.png" alt="" class="card-bg">
                        <img src="./assets/p4.png" alt="" class="card-figure glass-bg-01">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Servicio Médico</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Servicios" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f5.png" alt="" class="card-bg">
                        <img src="#" alt="" class="card-figure glass-bg-02">
                    </div><br>
                    <div class="card-info"><br>
                        <h2 class="card-name">Odontología</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Detalles" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f7.png" alt="" class="card-bg">
                        <img src="./assets/p7.png" alt="" class="card-figure glass-bg-03">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Programas de promoción y prevención</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Información" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="userLoginOn">
    <div #cardContainer class="main-container">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f6.png" alt="" class="card-bg">
                        <img src="./assets/p6.png" alt="" class="card-figure glass-bg-01">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Procedimientos Quirúrgicos</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Servicios" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f8.png" alt="" class="card-bg">
                        <img src="./assets/p8.png" alt="" class="card-figure glass-bg-02">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Autoexploración Mamaria</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Detalles" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f9.png" alt="" class="card-bg">
                        <img src="./assets/p9.png" alt="" class="card-figure glass-bg-03">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Atención médica durante el embarazo</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Información" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>