#register-container {
    max-width: 400px;
    margin: 5px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    text-align: center;
    color: #3498db;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 4px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .register-button,
  .cancel-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-button {
    background-color: #3498db;
    color: #fff;
  
  }
  
  .register-button:hover {
    background-color: #2980b9;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #000;
    margin-right: 10px;
  }
  
  .cancel-button:hover {
    background-color: #2980b9;
    color: #ddd;
    
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }


  