<section>
    <div #cardContainer class="main-container">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f10.png" alt="" class="card-bg">
                        <img src="./assets/p10.png" alt="" class="card-figure glass-bg-01">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Quienes somos</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Servicios" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f11.png" alt="" class="card-bg">
                        <img src="./assets/p11.png" alt="" class="card-figure glass-bg-02">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Misión</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Detalles" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-images">
                        <img src="./assets/f12.png" alt="" class="card-bg">
                        <img src="./assets/p12.png" alt="" class="card-figure glass-bg-03">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Visión</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aut quis eos, omnis nihil labore amet earum et illum rerum doloribus autem sapiente non? Voluptates laboriosam adipisci molestiae. Nostrum, omnis.</p>
                        <div class="card-media">
                            <p-button label="Información" icon="pi pi-eye" [rounded]="true" severity="info"></p-button>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
