<div *ngIf="loading" class="row d-flex justify-content-center align-items-center">
    <div class="col-12 text-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<div *ngIf="!loading && userLoginOn" class="container mt-3">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo mb-3">LISTADO DE CONSULTORIO</h5>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-inline">
                            <div class="form-group">
                                <input id="searchInput" [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Buscar por nombre">
                            </div>
                        </div>
                        <button class="btn btn-primary" routerLink="/panel-admin/register-consult">Nuevo</button>
                    </div>

                    <div class="text-center">
                        <table *ngIf="listConsults.length > 0" class="table mt-4 mx-auto">
                            <thead>
                                <tr>
                                    <!-- Otros encabezados -->
                                    <th scope="col" class="text-center">Nombres</th>
                                    <th scope="col" class="text-center">Ubicación</th>
                                    <th scope="col" class="text-center">Especialidad</th>
                                    <th scope="col" class="text-center">Estado</th>
                                    <th scope="col" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let consult of listConsults | filter: searchTerm">
                                    <td>{{consult.conNombre}}</td>
                                    <td>{{consult.conUbicacion}}</td>
                                    <td>{{consult.conEspecialidad}}</td>
                                    <td>{{consult.conEstado}}</td>
                                    
                                    <td>
                                        <i [routerLink]="['/panel-admin/edit-consult/', consult._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                        <i (click)="eliminarConsult(consult._id)" class="fa-solid fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ng-template #loading>Cargando...</ng-template>
                        <h5 style="text-align: start; margin-top: 10px;" *ngIf="listConsults.length == 0">No hay consultorio para mostrar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
