.menu-container {
    height: 100%;
    background-color: #62a1f3; /* Ajusta el color de fondo según tu preferencia */
    padding: 20px;
  }
  
  .custom-panel-menu {
    width: 100%;
  }
  
  .content-container {
    height: 100%;
    padding: 20px; /* Ajusta el espaciado según tu preferencia */
    background-color: #5ba9f1; /* Ajusta el color de fondo según tu preferencia */
    border-left: 1px solid #e0e0e0; /* Añade un borde izquierdo */
  }
  
  /* Ajusta estilos según tus preferencias */
  